# Inflyte Campaign URLs to Monitor
# One URL per line, lines starting with # are ignored
# Blank lines are ignored

https://inflyteapp.com/r/pmqtne
# https://inflyteapp.com/r/another-campaign
# https://inflyteapp.com/r/yet-another
